* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #fafafa;
  padding: 0 10px;
}

header {
  background-color: #f4f4f4;
  padding: 10px 0;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

nav {
  background-color: steelblue;
  padding: 10px;
}

nav a {
  color: white;
  display: block;
  padding: 10px;
  text-decoration: none;
  text-align: center;
}

nav a:hover {
  background-color: #003366;
}

h1 {
  color: steelblue;
  font-size: 2em;
  margin-bottom: 20px;
}

img {
  width: 150px;
  height: auto;
  border: 1px solid steelblue;
  padding: 2px;
  box-shadow: 0 0 30px gray;
}

main {
  max-width: 840px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

main img {
  float: right;
  margin: 0 0 20px 20px;
}

aside {
  width: 20rem;
  text-align: center;
  position: relative;
}

aside h2 {
  position: absolute;
  top: 47px;
  left: 150px;
}

aside img {
  width: 200px;
  height: auto;
  display: block;
  margin: 0 auto 1rem;
}

p {
  padding: 0;
  margin-bottom: 1rem;
  font-size: 1em;
}

footer {
  margin-top: 20px;
  padding: 10px 0;
  border-top: 1px solid #ccc;
  text-align: center;
  background-color: #f4f4f4;
}

/* Class Selectors */
.box {
  margin: 1rem;
  border: 1px solid rgba(0,0,0,.1);
  padding: 1rem;
  background-color: #ddd;
  color: #000;
}

@media (max-width: 768px) {
  nav a {
    padding: 15px;
  }

  aside {
    width: 100%;
  }

  aside h2 {
    position: static;
    margin-top: 10px;
  }

  main {
    margin: 10px;
    padding: 10px;
  }
}
